numpy
pandas
matplotlib
yfinance
scikit-learn
joblib

fastapi
uvicorn[standard]
httpx
pytest

tensorflow
torch
torchvision
torchaudio

langchain
langchain-community
langchain-openai
langchain-chroma
pypdf
python-multipart
sentence-transformers
faiss-cpu
sentence-transformers
tf-keras


sentence-transformers==5.2.0
tf-keras==2.20.1
